Source: aruco
Section: libs
Priority: extra
Maintainer: Romain Janvier <romain.janvier@hotmail.fr>
Build-Depends: debhelper (>= 9.0.0), cmake, freeglut3-dev, libopencv-dev (>=2.1), doxygen 
Standards-Version: 3.9.4
Homepage: http://www.uco.es/investiga/grupos/ava/node/26
Vcs-Git: git://github.com/archeos/aruco-archeos.git
Vcs-Browser: https://github.com/archeos/aruco-archeos.git

Package: libaruco-dev
Section: libdevel
Architecture: any
recommends: libogre-dev, freeglut3-dev
Depends: libopencv-dev (>=2.1), libaruco1.2 (= ${binary:Version}), ${misc:Depends}
Description: Augmented reality library
 Aruco is a "minimal library for Augmented Reality applications based on
 OpenCv". It supports AR markers, AR boards (multiple marker boards)
 and integrates very well with Ogre 3D engine and OpenGL. This is the 
 development package, it contains headers and static library. 

Package: libaruco1.2
Section: libs
Architecture: any
recommends: libogre, freeglut3
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Augmented reality library
 Aruco is a "minimal library for Augmented Reality applications based on 
 OpenCv". It supports AR markers, AR boards (multiple marker boards) 
 and integrates very well with Ogre 3D engine and OpenGL. This package 
 contains the shared library

Package: libaruco-utils
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Augmented reality library
 Aruco is a "minimal library for Augmented Reality applications based on 
 OpenCv". It supports AR markers, AR boards (multiple marker boards) and 
 integrates very well with Ogre 3D engine and OpenGL. This package
 contains various convenient tools to help you to start with Aruco 
 (generate markers, boards and test them).

Package: libaruco-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Recommends: libaruco-dev
Description: Augmented reality library
 Aruco is a "minimal library for Augmented Reality applications based on 
 OpenCv". It supports AR markers, AR boards (multiple marker boards) and 
 integrates very well with Ogre 3D engine and OpenGL. This is the doc 
 package for Aruco.
